body {
    color: red;
    background: black;
    margin: solid 10px rgb(231, 231, 238);
    font-family: "Chakra Petch", sans-serif;
    font-size: 30px;
}
.chamada {    
    border-bottom : solid 10px rgb(42,122,228);
    padding: 20px;
    font-style: "Chakra Petch", sans-serif;
    font-size: 32px;
}
section{
    background: coral;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
}
div{
    margin: 100px;
}
.Categoria-videos{
    display: flex;
    overflow-x: hidden;
    gap: 20px;
}
.categoria{
    padding-left: 20px ;
    padding-right: 20px;
}
.Categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{ 
    opacity: 1.0;
    border: 1px solid green;
}
.categoria h2{
    
}