body {
    color: red;
    background: black;
    margin: solid 10px rgb(231, 231, 238);
    font-family: "Chakra Petch", sans-serif;
    font-size: 30px;
}
header {    
    border-bottom : solid 10px rgb(42,122,228);
    padding: 20px;
    font-style: "Chakra Petch", sans-serif;
    font-size: 32px;
}
section{
    background: coral;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}
div{
    margin: 20px;
}